.editBillingAddress {
  color: rgb(91, 103, 214);
}

.editBillingAddress:hover {
  color: rgb(17, 32, 169);
  opacity: 1;
}

.Text {
  font-family: Raleway, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 20px;
}

.Note {
  width: 500px;
  margin: auto;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}

.Label {
  font-size: 1rem;
  width: 200px;
}

.Input {
  line-height: 1.5rem;
  padding: 2px 8px !important;
  border: #c9c4c4 solid 1px;
  border-radius: 5px;
}

.note {
  font-size: 0.9rem;
  margin-top: -8px;
}

.InputItem {
  display: flex;
  flex-direction: column;
}

.Button:hover,
.EditBtn:hover {
  color: #111 !important;
  border: #222 solid 1px;
  background-color: aliceblue;
}

.Form {
  border-radius: 5px !important;
}

@media screen and (min-width: 640px) {
  .sAddressBox {
    margin-top: 26px;
  }
}
