.editBillingAddress {
  color: rgb(91, 103, 214);
}

.editBillingAddress:hover {
  color: rgb(17, 32, 169);
  opacity: 1;
}

.Text {
  font-family: Raleway, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 20px;
}

.Note {
  width: 500px;
  margin: auto;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}

.Label {
  font-size: 1rem;
  width: 200px;
}

.Input {
  line-height: 1.2rem;
  padding: 2px 4px !important;
  width: 90%;
}

.note {
  font-size: 0.9rem;
  margin-top: -8px;
}

.addressCardBox {
  background-color: rgb(204, 209, 209);
  padding: 5px 5px 8px 5px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 300px;
}

.InputItem {
  display: flex;
  flex-direction: column;
}

.Button {
  border-radius: 0px !important;
  border: 1px solid #555;
}

@media screen and (min-width: 640px) {
  .sAddressBox {
    margin-top: 26px;
  }
}
