.editBillingAddress {
  color: rgb(91, 103, 214);
}

.editBillingAddress:hover {
  color: rgb(17, 32, 169);
  opacity: 1;
}

.Label {
  font-size: 0.9rem;
  width: 200px;
  line-height: 1.1;
}

.Input {
  line-height: 1.2rem;
  padding: 3px 5px !important;
  border: #c9c4c4 solid 1px;
  border-radius: 5px;
}

.Form {
  border-radius: 5px !important;
  width: 300px;
}

@media (768px <= width < 850px) {
  .Form {
    width: 270px;
  }
}

@media screen and (min-width: 640px) {
  .sAddressBox {
    margin-top: 26px;
  }
}
