.Button {
  border-radius: 5px;
}

.Text {
  font-size: 1.2rem !important;
}

.Input {
  width: 300px;
}

.LoginForm {
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .LoginForm {
    width: 90%;
  }
  .Input {
    width: 270px;
  }
}
