.Button {
  border-radius: 5px;
}

.Button:hover {
  color: #2d3942 !important;
  background-color: transparent !important;
  border: solid 1px #2d3942 !important;
}

.Text {
  font-size: 1.2rem !important;
}

.Input {
  width: 300px;
}

.LoginForm {
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .LoginForm {
    width: 90%;
  }
  .Input {
    width: 270px;
  }
}
