.slider-container > .slick-slider > button {
  margin-left: 20px !important;
  color: #333;
}

div.slider-container
  div.slick-slider
  div.slick-list
  div.slick-track
  div.slick-slide {
  display: flex !important;
  justify-content: center;
}
div.slider-container
  div.slick-slider
  div.slick-list
  div.slick-track
  div.slick-slide
  > div {
  width: 280px !important;
}
