.imgSize {
  width: 150px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 50%;
}

.Btn {
  border: 1px #484848 solid !important;
}

@media screen and (max-width: 680px) {
  .imgSize {
    width: 120px !important;
    height: 96px !important;
  }
}
