@media (min-width: 1080px) {
  .Box {
    width: 760px;
    margin-left: 80px;
  }
  .Container {
    justify-content: center;
  }
}

@media (1024px <= width < 1080px) {
  .Box {
    width: calc(100vw - 270px);
    max-width: 760px;
  }
  .Container {
    justify-content: space-between;
  }
}

@media (max-width: 1023px) {
  .Box {
    margin: auto;
  }
}

@media (768px <= width < 1024px) {
  .Box {
    width: 90% !important;
    max-width: 760px;
  }
}

@media (360px <= width < 768px) {
  .Box {
    width: 80% !important;
    max-width: 380px;
  }
}
