.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.Form {
  border-radius: 5px !important;
  margin-top: 15px;
}

.InputFields {
  width: 480px !important;
}

@media screen and (max-width: 540px) {
  .Form {
    width: 90% !important;
    margin-top: 0;
  }
  .InputFields {
    width: 90% !important;
  }
}
