.SelectItems {
  font-family: Raleway, sans-serif;
}

.ClearBtn,
.ColorFilter {
  border-radius: 5px;
  width: auto;
}
.ColorFilter {
  border: #aaa solid 1px;
  height: 48px;
  background-color: #fff;
}

.SerachInput {
  width: 250px !important;
}

.InputGroup {
  width: 630px;
}

@media screen and (max-width: 639px) {
  .ClearBtn {
    width: 280px;
  }

  .SerachInput {
    width: 280px !important;
  }
}
