@media screen and (max-width: 1023px) {
  .Carousel {
    margin: auto;
  }
}
@media screen and (max-width: 680px) {
  img {
    height: 260px !important;
    width: 100% !important;
    object-fit: cover;
  }
}
