.imgSize {
  width: 330px;
  height: 264px;
  object-fit: cover;
  object-position: 50% 50%;
}

.Card {
  width: 330px !important;
  height: 264px !important;
}
.Intro {
  padding-top: 10px !important;
}

@media screen and (min-width: 1280px) {
  .FeaturedProd {
    width: 1000px !important;
  }
}

@media (1080px <= width < 1280px) {
  .FeaturedProd {
    width: 670px !important;
  }
}
@media (640px <= width < 1080px) {
  .FeaturedProd {
    width: 610px !important;
  }
}

@media screen and (max-width: 1080px) {
  .imgSize,
  .Card {
    width: 300px !important;
    height: 240px !important;
  }
}

@media screen and (max-width: 1023px) {
  .Intro {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 767px) {
  .FeaturedProd {
    width: 610px !important;
  }
}

@media screen and (max-width: 639px) {
  .FeaturedProd {
    width: 300px !important;
  }
}

@media screen and (min-width: 360px) {
  .Intro {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
}
