.imgSize {
  width: 330px;
  height: 264px;
  object-fit: cover;
  object-position: 50% 50%;
}

.Card {
  width: 330px !important;
  height: 264px !important;
}

@media screen and (max-width: 1023px) {
  .imgSize {
    width: 350px !important;
    height: 280px !important;
  }
  .Card {
    width: 350px !important;
    height: 280px !important;
  }
}

@media screen and (max-width: 800px) {
  .imgSize {
    width: 300px !important;
    height: 240px !important;
  }
  .Card {
    width: 300px !important;
    height: 240px !important;
  }
}

@media screen and (max-width: 639px) {
  .imgSize {
    width: 400px !important;
    height: 320px !important;
  }
  .Card {
    width: 400px !important;
    height: 320px !important;
  }
}

@media screen and (max-width: 475px) {
  .imgSize {
    width: 300px !important;
    height: 240px !important;
  }
  .Card {
    width: 300px !important;
    height: 240px !important;
  }
  .Intro {
    margin-top: 18px !important;
  }
}
