.Text {
  text-decoration: none;
  color: #333 !important;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .menuBox {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menuItems {
    margin-top: 5px;
  }
  .menuItemCart {
    margin-top: 8px;
  }
}
