.NavItem:hover {
  color: #8b3f04 !important;
  text-decoration: underline !important;
  opacity: 100% !important;
}
@media screen and (min-width: 768px) {
  .menuBox {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menuItems {
    margin-top: 5px;
  }
  .menuItemCart {
    margin-top: 8px;
  }
}
