.imgSize {
  width: 330px;
  height: 264px;
  object-fit: cover;
  object-position: 50% 50%;
}

.Card {
  width: 330px;
  margin-bottom: 10px !important;
}

.Button {
  border-radius: 0px !important;
  border: 1px rgb(70, 63, 63) solid;
}

.Link > a {
  color: rgb(154, 116, 20) !important;
}

.Link > a:hover {
  color: #6e560d !important;
  text-decoration: underline;
}

@media screen and (max-width: 1040px) {
  .imgSize {
    width: 300px !important;
    height: 240px !important;
  }
  .Card {
    width: 300px !important;
  }
}

@media screen and (max-width: 639px) {
  .Card {
    margin-bottom: 25px !important;
  }
}
