.ImgSize,
.Swiper {
  width: 430px !important;
  height: 344px !important;
}

.Button {
  border-radius: 0px !important;
  border: 1px solid #555 !important;
}

.PrcQty {
  display: flex !important;
  justify-content: space-between !important;
}
.NotesHeading {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  margin-top: 45px !important;
}

@media screen and (min-width: 1200px) {
  .Description {
    width: 80% !important;
  }
}

@media screen and (max-width: 1000px) {
  .ImgSize,
  .Swiper {
    width: 310px !important;
    height: 248px !important;
  }

  .NotesHeading {
    margin-top: 30px !important;
  }
}
@media screen and (min-width: 890px) {
  .PrcQty {
    flex-direction: row !important;
  }
}
@media screen and (min-width: 768px) {
  .PrcQty {
    flex-direction: column !important;
  }
  .QtyAddBtn {
    justify-content: end !important;
  }
  .Description {
    margin-top: 2px !important;
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 767px) {
  .ImgSize,
  .Swiper {
    width: 430px !important;
    height: 344px !important;
  }
}

@media screen and (max-width: 500px) {
  .Qty {
    margin-top: 2px !important;
  }
  .PrcQty {
    flex-direction: column !important;
  }
  .ImgSize,
  .Swiper {
    width: 310px !important;
    height: 248px !important;
  }
}
