.Img {
  width: 430px;
  height: 344px;
  object-fit: cover;
  object-position: 50% 50%;
  margin: auto;
}

.Button {
  border-radius: 0px !important;
  border: 1px solid #555;
}

.PrcQty {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .Box {
    gap: 15px;
  }

  .PrcQty {
    flex-direction: column !important;
  }
  .QtyAddBtn {
    justify-content: end;
  }
}

@media screen and (min-width: 890px) {
  .PrcQty {
    flex-direction: row !important;
  }
}

@media screen and (max-width: 767px) {
  .Description {
    margin-top: 15px !important;
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 680px) {
  .Img {
    width: 310px !important;
    height: 264px !important;
  }
  h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 440px) {
  .Qty {
    margin-top: 2px;
  }
  .PrcQty {
    flex-direction: column;
  }
}

@media screen and (min-width: 370px) {
  .Description {
    width: 95% !important;
    margin: auto;
  }
}
