.EntryBox {
  width: 280px !important;
  height: 200px !important;
  background-color: #fff;
  padding: 2px 5px;
  color: #333;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 3px !important;
}

.Text {
  font-size: 1.5rem !important;
}
