div,
button,
.MuiButtonBase-root > span {
  font-family: "M PLUS Rounded 1c";
}
a {
  text-decoration: none !important;
  font-family: "M PLUS Rounded 1c";
}

#Menu > a {
  text-decoration: none !important;
  font: #666 !important;
}

#Menu > a:hover {
  text-decoration: underline !important;
  font: #222 !important;
}

button:hover {
  font: #222 !important;
}
input {
  background-color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ddd !important;
}
